* {
    box-sizing: border-box;
}

body {
    font-family: 'Cabin';
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    font-size: 20px;
    color: rgb(122, 122, 199);
}

main {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.column {
  flex: 1 1 45%;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

input[type="number"], select {
  width: 100%;
  padding: 10px 15px;
  margin-top: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  background-color: rgb(153, 153, 232);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: rgb(122, 122, 199);
}

input[type="reset"] {
  padding: 10px 20px;
  background-color: #ccc;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 10px;
  transition: 0.3s;
}

input[type="reset"]:hover {
  background-color: #aaa;
}

p {
  font-weight: bold;
  margin-top: 15px;
  font-size: 18px;
  color: #333;
}

footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
  margin-top: 40px;
}

@media (max-width: 768px) {
  .column {
    flex: 1 1 100%;
  }

  button, input[type="reset"] {
    width: 100%;
    margin-top: 10px;
    margin-left: 0;
  }
}

#luasSegitiga, #kelilingSegitiga, #luasPersegi, #kelilingPersegi {
  display: none;
}